
.modalContainer {
	
}
.modalBox {
	margin:  auto;
	margin-top:3em;
	width:80%;
	height: 60%;
	position: relative;
}
.modalBox li > div{
	height: 400px;
	width: 100%;
	border: 2px solid #fff;
	font-size: 25px;
	text-align: center;
}
.modalBox li > div > img{
	height: 100%;
	width: 100%;
}
.dNone {
	display: none;
}